/** @format */

@media (min-width: 800px) {
  .tekst {
    line-height: 30px;
  }

  h1 {
    text-align: center;
  }

  .tekst h2,
  h3,
  h4,
  p {
    padding-bottom: 15px;
  }

  .tekst h2,
  h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .grid_1_2 .tekst {
    padding-left: 80px;
    padding-right: 30px;
  }

  .grid_2_1 .tekst {
    padding-left: 10px;
    padding-right: 100px;
  }

  .grid_1_2 {
    padding-bottom: 100px;
  }
}

.tekst {
  line-height: 30px;
}

h1 {
  text-align: center;
  padding: 10px;
  padding-top: 80px;
  font-size: 40px;
}

.tekst h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.grid_1_2,
.grid_2_1 {
  padding-bottom: 15px;
}

.logo {
  margin: 0;
}

img {
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  display: block;
  width: 300px;
  height: 4px;
  background: #6354ab;
  margin: 20px 0 25px 0;
  border: 0;
}
