h1 {
  text-align: center;
  padding: 10px;
  padding-top: 80px;
  font-size: 40px;
}

p {
  line-height: 38px;
  padding: 10px;
}

hr {
  display: block;
  width: 125px;
  height: 4px;
  background: #6354ab;
  margin: 20px 0 25px 0;
  border: 0;
}

.lilla_tekst {
  color: #6354ab;
}

h4 {
  padding-left: 10px;
  padding-bottom: 10px;
}

iframe {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}

.grid_1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.grid_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding-bottom: 80px;
  justify-items: center;
}
* {
  transform: all 0.2s linear;
  text-transform: capitalize;
}

#overskift {
  text-align: left;
}

.container_team {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
}

.container_team .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 60px;
}

.container_team .box-container .box {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
  width: 100%;
}

.container_team .box-container .box:nth-child(1),
.container_team .box-container .box:nth-child(2),
.container_team .box-container .box:nth-child(3),
.container_team .box-container .box:nth-child(4) {
  display: inline-block;
}

#load-more {
  margin-top: 20px;
  display: inline-block;
  padding: 15px 30px;
  border: solid 1px;
  background-color: #6354ab;
  color: aliceblue;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}

#load-more:hover {
  background-color: aliceblue;
  color: #6354ab;
}

.container_team_2 {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
}

.container_team_2 .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 60px;
}

.container_team_2 .box-container .box {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.container_team_3 {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.container_team_3 .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 60px;
}

.container_team_3 .box-container .box {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}
