/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  padding-left: 5%;
  padding-right: 5%;
}

.footer {
  background-color: #cfcbe5;
}

ul#menu {
  list-style: none;
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  font-size: 20px;
}

ul#menu li {
  margin-right: 20px;
  white-space: nowrap;
  font-size: 16px;
}

ul#menu li:last-child {
  margin-right: 0;
}

ul#menu li a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  color: black;
}

header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.home-icon {
  width: 20%;
}

#sog_img {
  width: 2%;
}

header .active {
  background-color: #cfcbe5;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

header li a:hover:not(.active) {
  background-color: #6354ab;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

footer {
  background-color: #cfcbe5;
}

footer img {
  width: 20%;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 62.5rem;
  margin-right: auto;
  margin-left: auto;
  gap: 100px;
}

.footer-columns > * {
  padding: 1rem;
  flex-basis: 25%;
}

.footer-column_list {
  list-style: none;
  line-height: 30px;
}

.footer-column_title {
  padding-bottom: 10px;
}

.footer-column_list a {
  letter-spacing: 0.5px;
  text-transform: initial;
  font-weight: normal;
  color: black;
  text-decoration: none;
  padding-top: 10px;
}

.footer-column_list a:hover {
  color: #6354ab;
}

@media (min-width: 800px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 100px;
  }
  .grid_2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding-top: 100px;
  }
  .grid_1_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-top: 100px;
  }
}
