/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  padding-left: 5%;
  padding-right: 5%;
}

footer {
  background-color: #cfcbe5;
}

footer img {
  width: 20%;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 62.5rem;
  margin-right: auto;
  margin-left: auto;
  gap: 100px;
}

.footer-columns > * {
  padding: 1rem;
  flex-basis: 25%;
}

.footer-column_list {
  list-style: none;
  line-height: 30px;
}

.footer-column_title {
  padding-bottom: 10px;
}

.footer-column_list a {
  letter-spacing: 0.5px;
  text-transform: initial;
  font-weight: normal;
  color: black;
  text-decoration: none;
  padding-top: 10px;
}

.footer-column_list a:hover {
  color: #cfcbe5;
  padding: 10px;
  border-radius: 10px;
}

@media (min-width: 850px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 100px;
  }
  .grid_2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding-top: 100px;
  }
  .grid_1_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-top: 100px;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    font-size: 18px;
    padding-top: 2px;
  }

  .nav-menu .active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    font-size: 18px;
    padding-top: 2px;
    background-color: #cfcbe5;
    padding: 2px 6px;
    border-radius: 5px;
  }
}

li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}

.logo {
  width: 200px;
}

.ikon {
  width: 24px;
  justify-self: end;
}

.nav-menu :hover {
  background-color: #cfcbe5;
  padding: 2px 6px;
  border-radius: 5px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 850px) {
  .nav-menu {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    gap: 30px;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    line-height: 50px;
    transition: 0.3s;
    padding: 30px;
  }

  .nav-menu.active {
    left: 0;
    z-index: 2;
  }

  .nav-menu li a {
    margin: 16px 0;
  }

  .nav-menu .active {
    left: 0;
  }

  .navbar {
    min-height: 70px;
    display: grid;
    grid-template-columns: 6fr 0.5fr 0.75fr;
    align-items: center;
    padding: 0 24px;
  }
}
