/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  padding-left: 5%;
  padding-right: 5%;
}

ul#menu {
  list-style: none;
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  font-size: 20px;
}

ul#menu li {
  margin-right: 20px;
  white-space: nowrap;
}

ul#menu li:last-child {
  margin-right: 0;
}

ul#menu li a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  color: black;
}

header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.home-icon {
  width: 20%;
}

#sog_img {
  width: 2%;
}

header .active {
  background-color: #cfcbe5;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

header li a:hover:not(.active) {
  background-color: #6354ab;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

footer {
  background-color: #cfcbe5;
  min-height: 100%;
  width: 100%;
}

footer .footer-content .footer-content-container {
  display: flex;
  justify-content: space-around;
}

footer .footer-content .footer-content-container > div {
  height: 100%;
  margin-top: 5%;
}

.footer-section {
  margin-bottom: 5%;
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
}

.eu_small {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eu_small img {
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 800px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 100px;
  }
  .grid_2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding-top: 100px;
  }
  .grid_1_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-top: 100px;
  }
}
