@media (min-width: 800px) {
  .grid_1_1 img {
    opacity: 40%;
  }

  .grid_1_1 img:hover {
    opacity: 100%;
  }

  .grid_1_1 p,
  li {
    line-height: 30px;
    padding-top: 10px;
  }

  h1 {
    text-align: center;
  }

  .grid_1_1 .tekst {
    padding-left: 70px;
    padding-right: 30px;
  }

  .grid_1_1 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.grid_1_1 img {
  opacity: 40%;
}

.grid_1_1 img:hover {
  opacity: 100%;
}

.grid_1_1 p,
li {
  line-height: 30px;
  padding-top: 10px;
}

h1 {
  text-align: center;
}

.grid_1_1 {
  padding-bottom: 40px;
}

p,
h4 {
  line-height: 38px;
  padding-bottom: 15px;
}

img {
  padding-bottom: 15px;
}
