.button {
  background-color: #6354ab;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  object-position: 100%;
  margin-left: 170px;
  margin-right: 100px;
  margin-top: 50px;
  border-radius: 5px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #cfcbe5;
  color: #6354ab;
}

#forside_img {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.grid_1_1 {
  line-height: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.grid_1_1 h3 {
  padding-left: 90px;
  font-size: 35px;
}

.grid_1_1 img {
  opacity: 40%;
}
.grid_1_1 img:hover {
  opacity: 100%;
}

.facadebillede img {
  opacity: 40%;
  padding-top: 60px;
  padding-bottom: 150px;
}

.facadebillede img:hover {
  opacity: 100%;
}

.grid_1_1 p,
h2 {
  line-height: 38px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
}

video {
  max-height: 500px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

h2 {
  padding-top: 15px;
  padding-bottom: 20px;
}

#baggrundsfarve {
  background-color: #cfcbe5;
  border-radius: 10px;
}
#baggrundsfarve p {
  padding-top: 60px;
  padding-left: 90px;
  padding-right: 90px;
}

@media (min-width: 800px) {
  .grid_1_1 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  #baggrundsfarve {
    padding-right: 10px;
    padding-bottom: 50px;
    padding-top: 60px;
  }

  #baggrundsfarve p {
    padding-top: 50px;
    padding-left: 120px;
    font-size: 17px;
  }

  #baggrundsfarve h3 {
    padding-top: 50px;
    padding-left: 110px;
  }

  video {
    max-height: 100%;
    width: 100%;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
  }

  .short_video {
    max-width: 500px;
    justify-self: end;
    padding-right: 50px;
  }
}
