button {
  background-color: #cfcbe5;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

#forside_img {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.grid_1_1 {
  line-height: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.grid_1_1 img {
  opacity: 40%;
}
.grid_1_1 img:hover {
  opacity: 100%;
}

.facadebillede img {
  opacity: 40%;
  padding-top: 80px;
  padding-bottom: 150px;
}

.facadebillede img:hover {
  opacity: 100%;
}
