h1 {
  text-align: center;
  padding: 10px;
  padding-top: 80px;
  font-size: 40px;
}

.grid_1_1 p,
h4 {
  line-height: 38px;
  padding-bottom: 15px;
}

hr {
  display: block;
  width: 125px;
  height: 4px;
  background: #6354ab;
  margin: 20px 0 25px 0;
  border: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination .active {
  background-color: #cfcbe5;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #6354ab;
  color: white;
}

img {
  padding-bottom: 20px;
}
